<template name="PostsIndex">
    <div class="posts">
            <div class="container">
                {{#each posts}} 
                {{> PostItem}} 
                {{/each}}
            </div>

        
    </div>
</template>

<template name="PostItem">
    <div class="post">
          
                <div class="post-title col-xs-12">
                    <h1>{{title}}</h1>
                </div>
                <div class="post-attributes col-xs-12">
                    <p>posted on {{submitted}} - by {{author}}</p>
        </div>
                <div class="featured-image col-xs-12">
                    <img class="img-responsive" src="{{featured_image}}"/>
                </div>
                <div class="post-body col-xs-12">
                    <p>{{snippet}}</p>
                    
                    <div class="blog-btn">
                        <a href="{{pathFor 'post.detail' params=this}}" class="btn btn-lg btn-call">Continue reading →</a>
                    </div>
                    

                </div>
            
        
    </div>
</template>