/*****************************************************************************/
/* PostsIndex: Style */
/*****************************************************************************/
.posts{
    margin: 30px 0 70px;
}

.post{
    
    margin: 0px auto;   
}

.post-title h1{
    font-family: "Coustard", Georgia, serif!important;   
    font-weight: 400!important;
    font-size: 1.9em!important;
    text-align: center;
}

.blog-btn{
    text-align: center;
    margin: 30px 0 100px;
}

.blog-btn a{
    color: #333;
    padding: 10px 50px 10px 50px; 
    border-bottom: 1px dotted #ccc;
    letter-spacing: 2px;
}

.blog-btn a:hover{
    background-color: #f7f7f7;
    text-decoration: none;
}

.post-body{
    text-align: center;
    line-height: 1.6;
    color: #444;
    font-size: 17px;
}

.post-attributes p{
    color: #aaa;  
    text-align: center;
}