<template name="PostsIndex">
    <div class="posts">
        <div class="row">
            <div class="container">
                {{#each posts}} 
                {{> PostItem}} 
                {{/each}}
            </div>

        </div>
    </div>
</template>

<template name="PostItem">
    <div class="post">
        
            <div class="post-title">
                <div class="card-content">
                    <h1>{{title}}</h1>
                </div>
                <div class="post-body">
                    <p>{{body}}</p>
                    <a href="{{pathFor 'post.detail' params=this}}" class="btn btn-success">Read More</a>

                </div>
            </div>
        
    </div>
</template>