<template name="PostsIndex">
    <div class="posts">
        <div class="row">
            <div class="container">
                {{#each posts}} 
                {{> PostItem}} 
                {{/each}}
            </div>

        </div>
    </div>
</template>

<template name="PostItem">
    <div class="post">
        
            
                <div class="post-title">
                    <h1>{{title}}</h1>
                </div>
                <div class="post-attributes">
                    <p>posted on {{submitted}} - by {{author}} - in categories [{{categories}}]</p>
        </div>
                <div class="featured-image">
                    <img src="{{featured_image}}"/>
                </div>
                <div class="post-body">
                    <p>{{snippet}}</p>
                    
                    <div class="blog-btn">
                        <a href="{{pathFor 'post.detail' params=this}}" class="blog-btn">Continue reading →</a>
                    </div>
                    

                </div>
            
        
    </div>
</template>