/*****************************************************************************/
/* PostsIndex: Style */
/*****************************************************************************/
.post{
    width: 800px;
    margin: 0px auto;   
    background-color: #999999;
}