<template name="Footer">
    
    <div class="after-footer">
        <div class="container">
            <div class="copyright pull-left">
                <div class="footer-menu">
                    <ul>
                        <!--<li><a href="{{pathFor 'learn'}}">Terms of Use</a>
                        </li>-->
                        <li><a href="{{pathFor 'contact'}}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="made-with pull-right">
                <p class="love">Made with Caribbean Breeze in Trinidad</p>
            </div>
        </div>
    </div>
</template>