<template name="Home">

    <section class="home-one">
        <div class="container">
            <h1>Start Digging!</h1>
            <h3>Learn the Meteorjs framework with me by hacking through my site</h3>
            <div class="banner-image">
                <img class="img-responsive" src="/images/editor.gif">
            </div>
        </div>
    </section>
    
    <section class="home-two">
        <div class="container">
            <h4>Learn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my site</h4>
            
            <div class="row home-item">
                <div class="col-md-6">
                    <img class="img-responsive" src="/images/computer.png">
                </div>
                <div class="col-md-6">
                    <h4>Learn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my</h4>
                </div>
            </div>
            <div class="row home-item">
                <div class="col-md-6">
                    <h4>Learn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my</h4>
                </div>
                <div class="col-md-6">
                    
                    <img class="img-responsive" src="/images/computer.png">
                </div>
            </div>
            <div class="row home-item">
                <div class="col-md-6">
                    <img class="img-responsive" src="/images/computer.png">
                </div>
                <div class="col-md-6">
                    <h4>Learn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my siteLearn the Meteorjs framework with me by hacking through my</h4>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="home-three">
        <div class="container">
            <div class="col-md-6">
                <img class="img-responsive" src="/images/donate.png">
            </div>
            <div class="col-md-6">
                <h4>Keep this site going DONATE</h4>
            </div>
        </div>
    </section>

</template>