/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home-one{
  background-color: #999999;   
}

.home-one h1, h3{
    text-align: center;
}

.banner-image{
    text-align: center;   
}

.home-two{
    margin-top: 30px;   
}

.home-two h4{
    text-align: center;
}

.home-item{
    margin: 90px 0; 
}

.home-three{
    padding: 40px 0;
    background-color: #E1E1E1;
}