<template name="Learn">
    <section class="learn-one">
        <div class="container">
            <h3>Go through each tutorial to see how i built this site from the ground up.</h3>
            <h2>Learn</h2>
            <div class="row">
                <div class="col-md-6"> 
                    <ul>
                        <li>Introduction</li>
                        <li>Target Audience</li>
                        <li>Getting Set Up</li>
                        <li>Website Skeleton</li>
                    </ul>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
</template>