<template name="Header">
    <!--<div class="above-header">
        {{#if currentUser}}
        <div class="container">
            <ul class="nav navbar-nav navbar-right logged-in">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{displayName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="logout" href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {{else}}
        <div class="container">
            <div class="nav navbar-nav pull-right logged-out">
                <a class="register-button" href="{{pathFor 'Register'}}">Sign Up</a>

                <a class="login-button" href="{{pathFor 'Login'}}">Login</a>
            </div>

        </div>
        {{/if}}
    </div>-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'Home'}}">Meteor Mining</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{pathFor 'Home'}}">Home</a>
                        </li>
                        <li><a href="{{pathFor 'posts.index'}}">Blog</a>
                        </li>
                        <!--{{#if currentUser}}
                        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{displayName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="logout" href="#">Logout</a>
                        </li>
                    </ul>
                </li>
                        {{else}}
                        <li><a class="register-button" href="{{pathFor 'Register'}}">Sign Up</a></li>
                        <li><a class="login-button" href="{{pathFor 'Login'}}">Login</a></li>
                        {{/if}}-->
                    </ul>
                    
                    
                    <ul class="nav navbar-nav navbar-right">
                        {{#if currentUser}}
                        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{displayName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="logout" href="#">Logout</a>
                        </li>
                        
                    </ul>
                </li>
                        {{else}}
                        <li><a class="register-button" href="{{pathFor 'Register'}}">Sign Up</a></li>
                        <li><a class="login-button" href="{{pathFor 'Login'}}">Login</a></li>
                        {{/if}}
                    </ul>
                    
                    <!--<ul class="nav navbar-nav navbar-right">
                        
                    </ul>-->
                    
                    
                </div>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</template>