<template name="PostDetail">
    <div class="container">
        <div class="post-detail">

            <div class="title">
                <h1>{{title}}</h1>
            </div>
            <div class="post-attributes">
                <p>posted on {{submitted}} - by {{author}}</p>
            </div>
            <div class="featured-image">
                <img src="{{featured_image}}" />
            </div>
            <div class="body">
                <p>{{body}}</p>
            </div>

        </div>
    </div>
    {{> CommentsIndex}} {{#if currentUser}}
    <div class="container">
        <div class="row">
            {{> CommentSubmit}}
            <div class="col-md-6">
                <div class="blog-donate">
                    <h4>Help Us Out</h4>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="business" value="gittensimanuel@gmail.com">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="Mining Meteor">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                        <input type="image" src="/images/mm-paypal-btn.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>

            </div>
            
        </div>

    </div>
    

    {{else}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Submit a Comment</h4>
                <p class="bg-info comment-login">Please <a href="{{pathFor 'Login'}}">login</a> to comment...</p>
            </div>
            <div class="col-md-6">
                <div class="blog-donate">
                    <h4>Help Us Out</h4>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="business" value="gittensimanuel@gmail.com">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="Mining Meteor">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                        <input type="image" src="/images/mm-paypal-btn.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>



    {{/if}}

</template>