<template name="PostDetail">
    <div class="container">
        <div class="post-detail">

            <div class="title">
                <h1>{{title}}</h1>
            </div>
            <div class="post-attributes">
                <p>posted on {{submitted}} - by {{author}} - in categories [{{categories}}]</p>
            </div>
            <div class="featured-image">
                <img src="{{featured_image}}" />
            </div>
            <div class="body">
                <p>{{body}}</p>
            </div>

        </div>
        {{> CommentsIndex}} {{> CommentSubmit}}


    </div>
</template>