<template name="Contact">
    <div class="contact">
        <div class="container">
            <h2>Get in Touch</h2>
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="contactEmail1" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Subject</label>
                        <input type="text" class="form-control" id="contactSubject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputMessage">Message</label>
                        <textarea class="form-control" id="contactMsg" rows="3" placeholder="Enter your message" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-md-6 contact-text">
                <p>Thank you for using this site. I hope your experience here is rewarding and you are a few steps closer to achieveing your goals. If you have any questions, issues, comments or concerns please feel free to contact me using the form on the left or these other channels.</p>
                <ul class="social">
                    <li><a href="https://github.com/imanuelgittens" target="_blank"><i class="fa fa-3x fa-github-square"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/profile/view?id=386727897&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-3x fa-linkedin-square"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</template>