<template name="MasterLayout">
    <nav class="top-navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{{pathFor 'Home'}}" class="brand-logo">Meteor Mining</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="{{pathFor 'Home'}}">Home</a></li>
                    <li><a href="{{pathFor 'posts.index'}}">Blog</a></li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
    {{> yield}}
    
    {{> Footer}}
    
    <script>
        $(".button-collapse").sideNav();
    </script>
</template>

