<template name="CommentItem">
    <div class="row">
        <div class="container comment-item">
            <div class="comment-content">
                <h5>{{comment}}</h5>
            </div>
            <div class="comment-footer">
            <div class="row author">
                <p class="col-xs-6 text-left">Posted By: {{firstName}} {{lastName}}</p>
                <p class="col-xs-6 text-right">At: {{submitted}}</p>
            </div>
            <!--<div class="timestamp">
                    <p>At: {{submitted}}</p>
                </div>-->
        </div>
        </div>
        
    </div>

</template>